
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark p ">
    <div class="container-fluid px-2">
      <a class="navbar-brand " href="#">Restaurante Express Deysi</a>

      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Productos
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item"  routerLink="/product">Productos</a></li>
              <li><a class="dropdown-item"  routerLink="/categoria"  href="#">Categoria</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link"  routerLink="/cliente" role="button">Cliente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/empleado" role="button">Empleado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/venta" role="button">Ventas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ventarealizada" role="button">Ventas Realizadas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reportes" role="button">Reportes</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="javascript:void(0)" tabindex="-1" aria-disabled="true">Ventas Realizadas</a>
          </li> -->
        </ul>
    
      </div>
      <button class="btn btn-outline-light" (click)="logOut()" type="button">Cerrar Sesión</button>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>


