<app-navbar></app-navbar>
<app-spinner *ngIf="loading"></app-spinner>
<div class="container mt-4 text-center">
    <div *ngIf="!loading" class="row mt-1">
        <div class="col-lg-4 offset-lg-4">
            <div class="card mb-3" style="max-width: 25rem;">
                <div class="card-header text-center">
                  <h3>  {{ operacion }} Empleado</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="Save()">
                        <input formControlName="nombre" type="text" class="form-control" placeholder="Ingrese nombre">
                        <span class="text-danger" *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">
                            El campo nombre es <strong>requerido</strong>
                        </span>
                        
                        <input formControlName="telefono" type="tel"class="form-control mt-2" placeholder="Ingrese telefono">
                        <div class="text-danger" >
                            <span *ngIf="form.get('telefono')?.hasError('required') && form.get('telefono')?.touched">
                                El campo telefono es <strong>requerido</strong>
                            </span>
                            <span *ngIf="form.get('telefono')?.hasError('pattern') && form.get('telefono')?.touched">
                                Ingrese un número de teléfono válido.
                             </span>
                        </div>

                        <input formControlName="direccion" type="text" class="form-control mt-2" placeholder="Ingrese direccion">
                        <span class="text-danger"  *ngIf="form.get('direccion')?.hasError('required') && form.get('direccion')?.touched">
                            El campo direccion es <strong>requerido</strong>
                        </span>

                        <input formControlName="correo" type="email" class="form-control mt-2" placeholder="Ingrese correo">
                        <span class="text-danger"  *ngIf="form.get('correo')?.hasError('required') && form.get('correo')?.touched">
                            El campo correo es <strong>requerido</strong>
                        </span>
             
                        <div class="row mt-2 text-center">
                            <div class="col-lg-6">
                                <button routerLink="/empleado" type="button" class="btn btn-secondary">Volver</button>
                            </div>
                            <div class="col-lg-6">
                                <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Aceptar</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>