<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link  collapsed "  href="javascript:void(0)">
            <i class="bi bi-person"></i>
            <span>Clientes</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="curso">
            <i class="bi bi-car-front-fill"></i>
            <span>Empleados</span>
        </a>
      </li><!-- End Dashboard Nav -->
 
      <li class="nav-item">
        <a class="nav-link collapsed " (click)="$event.preventDefault()">
          <i class="bi bi-person-plus"></i>
          <span>Proveedores</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="javascript:void(0)">
          <i class="bi bi-people-fill"></i>
          <span>Usuarios</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" >
        <i class="bi bi-person-fill-gear"></i><span>Empleados</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a class="nav-link " href="javascript:void(0)">
              <i class="bi bi-circle"></i><span>Empleado</span>
            </a>
          </li>
          <li>
            <a class="nav-link " href="javascript:void(0)">
              <i class="bi bi-circle"></i><span>Turno</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->


      <li class="nav-heading">Ventas</li>


      <li class="nav-item">
      <a class="nav-link "  href="javascript:void(0)">
          <i class="bi bi-file-earmark "></i>
          <span>Historial de Ventas</span>
        </a>
      </li><!-- End Blank Page Nav -->
    </ul>

  </aside><!-- End Sidebar-->
